*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    position: relative;
    z-index: 0;
}
h1, h2, h4, h3 {
    font-weight: 500;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
       
    }
}

.header{
    position: relative;
    width: 100%;
    z-index: 1;
    background-size: cover;
    min-height: 500px;
    background-color: #111;
    box-sizing: border-box;
}
.navbar{
    color: #fff;
    padding: 1.6rem 2rem;
}
.highlight{
    color: black !important;
    font-weight: 600;
    border-radius: 8px;
}

.navbar.fix-nav{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #dd9a05;
    transition: all 600ms ease-in-out;
    box-shadow: 0 5px 15px rgba(163, 152, 152, 0.1);
    z-index:999;
}
.top-nav{
    display: none;

}
.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner {
    height:350px;
    width: 400px;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 2%px;
    /* border: 5px solid green; */
}
.dev {
    
    height: 200px;
    margin-top: -90px;
    /* margin-bottom: 100px; */
    /* border: 5px solid purple; */
   
}
.wrapper {
    display: flex;
    gap: 20px
}
.detailsLeft {
    width: 70%
}
.imgRight {
    /* width: 70%; */
    width: 50%;
    /* height: 400px; */
    display: flex;
    justify-content: center;
}
.logo p {
    font-size: 2rem;
    color: #fff;
    font-family:'Brush Script MT';
    cursor: pointer;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-link:link, .nav-link:visited{
    color: #fff;
    padding: 0.8rem;
    transition: all 300ms ease-in-out;
}
.nav-link:hover{
    border-radius: 0.3rem;
    background-color: #dd9a05;
}
.hamburger{
    display: none;
}
@media only screen and (max-width: 780px){
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        background-color: #fff;
        transition: all 500ms ease-in-out;
        z-index: 100;
        height: 100%;
    }
    .menu.show {
        left: 0;
    }
    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #dd9a05;
        padding: 1rem 1.6rem;
    }
    .top-nav .logo span {
        color: #fff;
    }
    .top-nav .close{
        color: #fff;
        font-size: 2.3rem;
        padding: 1rem;
        cursor: pointer;

    }
    .hamburger{
        display: block;
        color: #fff;
        font-size: 2.3rem;
        padding: 0.5rem;
        cursor: pointer;
    }
    .nav-link:link, .nav-link:visited{
        display: block;
        font-size: 1.7rem;
        color: #222;
        padding: 1rem 0;
    }
    .nav-list{
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }
    body.show::before{
        content: " ";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        background-color: #000;
        z-index: 1;
    }
    .nav.show {
        background-color: rgba(0, 0,0,0.8);
    }
}

.hero{
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    color: #fff;
}
.hero h3{
    font-weight: 400;
}
.hero h1{
    font-size: 4.6rem;
}
.hero h4{
    font-size: 1.5rem;
}
.hero h3{
    color: #dd9a05;
}
.hero h3 span{
    color: #fff;
    text-decoration: underline;
}

.hero a:link, .hero a:visited{
    display: inline-block;
    padding: .8rem 2.5rem;
    border: 1px solid #dd9a05;
    background-color: #dd9a05;
    color: #fff;
    margin-top: 2rem;
}

.hero:hover{
    background-color: transparent;
}
@media only screen and (max-width: 996px){
    .hero{
        transform: translate(10%, -50%);
    }
    .githubstats{
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .hero > h1{
        font-size: 4rem;
    }
    .githubstats{
        width: 95%;
    }
}
@media only screen and (max-width: 755px){
    .hero{
        top: 35%;
    }
    .hero h3{
        font-size: 2rem;
    }
    .hero h1{
        font-size: 5rem;
    }
    .hero h4{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 900px){
    .banner{
      width: 420px;
        height:420px;
        margin-top: 150px;
        justify-content: center;
        border-radius: 50%;
        /* border: 15px solid green; */
    }
    .img_g{
        border-radius: 10px;
         height: 250px;
        width:100%;
        
    
    }
    .img_box{
        /* border: 5px solid green; */
        width: 50%;
        height: 250px;
         margin-left: 40px;
        margin-right: 20px;
        padding-top: 40px;
        margin-bottom: -10%;
    }
    /* .div_des{
        text-align: left;
        padding-top: -30%;
        margin-right: 30px;
        border: 5px solid green;
        width: 40%;
        height: 300px;
    
    } */

    
.project_description{
    /* height: 8rem; */
    margin-top: 10px;
    text-align: left;
   
   }

}
@media only screen and (max-width: 700px){
    .banner{
        width: 260px;
        height: 260px;
        margin-top: 220px;
        justify-content: center;
        border-radius: 50%;
    }
    /* .header{
        height: 110vh;
    } */
}
@media only screen and (max-width: 550px){
    .banner{
         width: 200px; 
        height: 180px;
        margin-top: 200px;
        justify-content: center; 
        border-radius: 50%;
        /* display: none; */
    }
}
@media only screen and (max-width: 400px){
    .banner{
        width: 200px; 
        height: 180px;
        /* margin-top: -60%; */
        margin-left: -100%;
        margin-top: -8%;
        justify-content: center; 
        border-radius: 50%;
        /* border: 5px solid green; */
    }
    .hero{
        /* position: absolute; */
        margin-top: 120px;
        transform: translate(25%, -50%);
        color: #fff;
        margin-left: -15%;
    }
    .stk>p>img{
        width:100%;
        height: 100px;
        gap:10px;
        /* border: 5px solid green; */
        border: 1px solid white
    }
    .stk{
        display: flex;
        height: 200px;
        width:90%;
        margin: auto;
        justify-content: center;
        margin-top: 20px;
       
        /* gap:20px */
        
        
    }
 
}
.icons {
    position: absolute;
    bottom: 18%;
    left: 5%;
    color: #fff;
}
.icons span *{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.icons span:not(:last-child){
    margin-right: 1rem;
}
.icons span {
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.icons span *:hover{
    color:  #dd9a05;
}
.section {
    padding: 5rem 0 7rem 0;
    overflow-x: hidden;

}
.about {
    margin-top: 5rem;
}
.title{
    margin: 4rem 0 7rem 0;
    text-align: center;
}
.title h1{
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
}
.title h1::after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #dd9a05;
    width: 50%;
    height: 0.4rem;
    z-index: 1;
}

.about-center{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem 5rem
}
.left img {
    /* margin-top:-20px ; */
    height: 40rem;
    max-width: 35rem;
    object-fit: cover;
}

.right h1{
    margin-bottom: 2rem;
}

.githubstats{
    width: 60%;
    margin: auto;
}
.githubstats1{
    width: 100%;
}


.right h1{
    margin-bottom: 2rem;
}
.right p {
    line-height: 2;
    margin-bottom: 2rem;
    color: #333;
}
.right h1 span{
    color: #dd9a05
}

a.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #dd9a05;
    color: #fff;
    border-radius: 0.5rem;
    border: 2px solid #dd9a05;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 300ms ease-out;
}

a.btn:hover{
    transform: translateY(-3px);
    background: transparent;
    color: #dd9a05;
}
a.btn:active{
    transform: translateY(0px)
}
@media only screen and (max-width: 996px){
    .right h1{
        font-size: 2rem;
    }
    .right p {
        font-size: 1.5rem;
    }
    a.btn {
        padding: 0.7rem 1.8rem;
    }
    .left img{
        height: 40rem;
        max-width: 25rem;
    }
    
}

@media only screen and (max-width: 768px){
    .about-center{
        grid-template-columns: 1fr;
        gap: 7rem 0;
    }
     .left {
         text-align: center;
     }
     .left img {
         height: 40rem;
         max-width: 90%;
     }
}

.theme {
    background-color: #fff;
}
.theme .title{
    color: #000;
}
.projects-center{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}
.project{
    color: #fff;
    background: #111;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    border-bottom: 4px solid transparent;
    transition: all 300ms ease-in-out;
    height: 53rem;
    /* height: auto; */
    
}

.project_description{
 /* height: 8rem; */
 text-align: left;

}
@media only screen and (max-width: 380px){
    .project{
        padding: 5px;
    }
    .project .img-cover {
        border: 1px solid black;
    }
    .img{
        height: 150px;
        border-radius: 50%;
    }
}
.project .img-cover {
    overflow: hidden;
    border-radius: 2%;
    border: 1px solid #dd9a05;
    height: 20rem;
    width: 28rem;
    margin: 2px auto;
    transition: all 300ms ease-in-out;

}
.project .img-cover img {
    height: 100%;
    object-fit: cover;
}
.project h2{
    font-size: 1.8rem;
    margin: 1rem 0;
}
.project p {
    font-size: 1.5rem;
    color: #ccc;
    width: 80%;
    margin: 0 auto 1rem auto;
}
.project:hover{
    color: #dd9a05;
}
.project:hover .img-cover{
    border-color: #fff;
}
.projBtns {
    margin-right: 10px;
    margin-top: 5px;
}

/* conatct */

.left h2{
    font-size: 2rem;
}
.left p {
    font: 1.5rem;
    margin-bottom: 2rem;

}

.skills {
    background: #000;
    color: white;
}
.skills-center{
    display: flex;
    justify-content: space-around;
}
.skills-center h3{
    padding-top: 3rem;
}
.skills-center > div > p {
    color: rgb(172, 167, 167);
}
@media only screen and (max-width: 800px){
    .skills-center{
        flex-direction: column;
        width: 50%;
        margin: auto;
        justify-content: center;
        /* color:yellow */
    }
    .skills-center > * {
        text-align: center;
    }
    .skillImgs{
        justify-content: center;
    }
    .project_in{
        flex-direction: column;
        /* gap: 20px; */
        /* margin-bottom: -20px; */
        /* border:5px solid orange; */
        height: 600px;
        border-radius: 2px solid wheat;
        background-color: #000;
       
        /* border-radius: 10px solid #000; */
    }
    .div_project{
        width:100%;
        border-radius: 10px;
        height: 1730px;
        

    }
    /* .div_des{
        border: 5px solid purple
        
       
    } */
    .img_g{
        width: 80%;
        height: 200px;
        margin-top: -50px;
        margin-bottom: -100px;
        margin-right: 20px;
    }
   
   
    .project_description{
        display:grid;
        /* border: 3px solid chocolate; */
        margin-left: 40px;
        background-color: #000;
       }
       .brand{
        margin-left: 40px;
       }
       /* .tec{
        margin-left: 40px;
        margin-bottom: 8px;
       } */
       /* .tec_btn{
        margin-left: 40px;
       } */
}
@media only screen and (max-width: 590px){
    .skills-center{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .skills-center > * {
        text-align: center;
    }
    .left img {
        height: 40rem;
        max-width: 90%;
    }

}
.skillImgs{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
.github {
    background: #000;
    color: white;
}
.icon {
    color: #dd9a05;
    font-size: 20px;
}
.contact-center > p {
    text-align: center;
}
.contacts {
    display: flex;
    justify-content: space-around;
}
footer {
    background: #111;
    padding: 1.6rem 1rem;
    text-align: center;
}
@media only screen and (max-width: 700px){
    .contacts{
        flex-direction: column;
        width: 70%;
        margin: auto;
      
    }
  
}
footer p{
    color:  #fff;
}
footer p span{
    color: #dd9a05;
}

 @media only screen and (max-width: 280px){
    .project{
        width:90%;
        
    }
 .project .img-cover {
    overflow: hidden;
    border-radius: 2%;
    border: 1px solid #dd9a05;
    height: 20rem;
    width: 20rem;
    margin: 2px auto;
    transition: all 300ms ease-in-out;

}
.banner {

    height:125px;
    width: 125px;
    border-radius: 50%;
    margin-top: 300px;
    margin-top: 2%px;
    margin-bottom: 2%px;
    margin-left: -240px;

}

.project_description{
    height: 12rem;
    /* margin-bottom: 50px; */
    text-align: left;
   }

   .projBtns {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project{
    margin-bottom: 40px;
    height: 53rem; 
    
    
 } 

} 

.stk{
    display: flex;
    height: 200px;
    /* width:100%; */
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    /* gap:20px */
    
    
}
.stk>p>img{
    width:100%;
    height: 100px;
    gap:10px;
    border: 1px solid white


}

.project_in{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    background-color: #000;
    /* border: 5px solid blue; */

}
.div_project{
    margin: auto;
    width:80%;
    /* border: 5px solid blue; */
    border-radius: 10px;
   
}
a>img{
    border-radius: 10px;
    /* margin-left: 40px; */
    /* margin-right: 20px; */
    /* margin-top: 30px; */
    /* margin-bottom: 20px; */
     height: 300px;
    width:90%;
    /* border: 5px solid blue; */


}
.img_box{
    /* border: 5px solid green; */
    width: 100%;
    height: 300px;
     margin-left: 40px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 80px;
}
/* .div_des{
    text-align: left;
    margin-top: 80px;
    margin-right: 30px;
    
    width: 40%;
    height: 300px;

} */
.project_description{
    margin-left: 40px;
    text-align: left;
    margin-right: 30px;
   
    
   }
   .brand{
    margin-left: 40px;
    text-align: left;
    margin-top: 70px;
    /* margin-right: 30px; */
   }
   .tec{
    margin-left: 40px;
    margin-bottom: 8px;
    text-align: left;
    margin-right: 30px;
   
   }
   .tec_btn{
    margin-bottom: 40px;
    margin-left: 40px;
   }